# Log Level could be skipped in 5 stages 
# 1 = FATAL
# 2 = ERROR
# 3 = WARN
# 4 = INFO
# 5 = DEBUG
[Logging]
file_path=/home/ahethesham/agent/logs/agent_testing-%s-%d-%d.log
log-level=5

# file which has sample json format to mock
[json_mock]
file_path=/home/ahethesham/agent/test/sample.json
